body {
  overscroll-behavior: none;
  touch-action: none;
}

* {
  user-select: none;
}

.hue-horizontal > div > div {
  width: 20px !important;
  height: 20px !important;
  border-radius: 0 !important;
  transform: translate(-10px, -5px) !important;
}

.flexbox-fix > :nth-child(2) > :nth-child(2) > div > :nth-child(3) > div > div {
  width: 20px !important;
  height: 20px !important;
  border-radius: 0 !important;
  transform: translate(-10px, -5px) !important;
}